@use "../../responsiveness.scss" as mixin;
.layout {
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @include mixin.lg {
    max-width: 1311px;
  }

  @include mixin.md {
    max-width: 700px;
  }
  @include mixin.sm {
    max-width: 640px;
  }

  .content {
    height: calc(100vh - 100px);
  }
}
